@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&family=Open+Sans+Condensed:wght@300;700&display=swap');

body{
    margin-left:100px;
    margin-top: 50px;
    margin-right: 100px;
    padding:0;
    height: 100%;
    width: auto;
    /* background-color:#af2929; */
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

/*********** HEADER ************/

#title{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#socialmedia{
    /* border: 2px red solid; */
    float: left;
    margin-right: 200px;
    margin-bottom: 40px;
}
#socialmedia a{
    margin-right: 10px;
}

#menu{
    /* border: 2px red solid; */
    float: right;
    margin-left: 200px;
    margin-bottom: 40px;
   
}
#menu a{
    width: 1265px;
    color: #af2929;
    font-size: 1rem;
    line-height: 30px;
    margin-right: 10px;
}

/***********   Search bar   ******************/


#search-section{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    height: 90px;
    margin-top: 20px;
    width: 100%;
}
form{
    margin: 20px;
    /* border: 2px red solid; */
    width: 100%;
}
#text{
    /* border: 2px solid green; */
    height: 30px;
    margin-top: 10px;
    margin-left:200px;
    width: 50%;
    outline: none;
    font-size: large;
    padding-left: 5px;
    color: black;
}
#submitButton{
    height: 38px;
    /* margin-top: 10px; */
    width: 15%;
    outline: none;
    background-color: #af2929;
    color: white;
    font-size: large;
}
/**************************** INFORMATION   *******************************/ 

/**** IMAGE - INGREDIENTS - MYLIST BLOCK  *********/

#information-block{
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 120px;
    display: flex;
    flex-direction: row;
    height: 500px;
/*    
    border: 2px black solid; */
    background-color: #FEFEFE;
}

/***********  MEAL IMAGE  *****************/

#image{
    /* border: 2px red solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
}
.area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    /* border: 2px solid black; */
}


/*************   INGREDIENTS        *********************/

#ingredients{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    padding-left: 10px;
    width: 40%;
}
h1{
    margin-top:0;
    margin-right: 100px;
    width: auto;
    padding:0;
    border-bottom: 2px solid black;
}
#name{
    font-size: 40px;
    /* border: 2px solid red; */
}
#titleIngredients{
    /* border: 2px solid blue; */
    display:flex;
    margin:0;
    font-size: 30px;
    line-height: 40px;
    padding-right: 355px;
}

#listIngredients{
    /* border: 2px solid red; */
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    width:70%;
    height: 100%;
    flex-direction: column;
    margin-top: 0;
   
}
.ingList{
    margin-bottom: 10px;
    /* border:2px solid black; */
    
    margin-right: 25px;
    /* list-style: none; */
}


/************* MY LIST **********/

#list{
    /* border: 2px black solid; */
    display: flex;
    flex-direction: column;
    


}

/* #myList{
    border: 2px solid red;
    padding-top: 0;
} */
#titleList{
    /* border: 2px solid blue; */
    display:flex;
    justify-content: center;
    font-size: 30px;
    line-height: 30px;
    padding-right: 200px;
    margin-left: 40px;
}
#existing-list{
    list-style: none;
    /* border: 2px solid palegoldenrod; */
    
}

.ex-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    list-style: none;
    

}

/******  SHOPPING LIST  ***********/
#shoppinglist{
    /* border: 2px red solid; */
    height: 250px;
}

#titleShoppingList{
    /* border: 2px solid black; */
    display:flex;
    justify-content: center;
    font-size: 30px;
    line-height: 30px;
    padding-right: 130px;
    margin-left: 40px;
}
.item{

    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;

}
/*********** RECIPE ************/

#recipe-block{
    display: flex;
    flex-direction: column;
    /* border: 2px red solid; */
    justify-content: left;
    height: 520px;
    text-align:justify;
    padding-left: 60px;
}
#recipeList{
    /* border: 2px solid black; */
    margin: 20px;
    padding-left: 60px;
}
#instructions{
    margin-left: 55px;
}




