body{
    margin-left:100px;
    margin-top: 50px;
    margin-right: 100px;
    padding:0;
    height: 100%;
    width: auto;
    background-color:white;
}

header{
    /* border: 2px red solid; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
nav{
    display: block;
    position: relative;
    float: right;
    margin-right: 150px;
    margin-top: 50px;
}
nav a{
    width: 1265px;
    color: #af2929;
    font-size: 24px;
    line-height: 30px;
    margin: 10px;
}

#search{
    margin-top: 20px;

}
#search-section{
    display: flex;
    justify-content: center;
    height: 90px;
}
form{
    margin: 20px;
    width: 100%;
    margin-left: 30px;
    
}
#text{
    height: 30px;
    margin-top: 10px;
    margin-left: 300px;
    width: 50%;
    outline: none;
    font-size: large;
    padding-left: 5px;
    color: black;

}

#submitButton{
    height: 38px;
    /* margin-top: 10px; */
    width: 10%;
    outline: none;
    background-color: #af2929;
    color: white;
    font-size: large;
   
}
/**************************** INFORMATION   *******************************/ 

/**** IMAGE - INGREDIENTS - MYLIST BLOCK  *********/

#information-block{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: auto;
    /* border: 2px black solid; */
}

/***********  MEAL IMAGE  *****************/

#image{
    /* border: 2px red solid; */
    display: flex;
    align-items: flex-start;
    width: 25%;
}
#img{
    width: 60px;
    height: 60px;
}
#image-alt{
    height: 250px;
    width: 250px;
    margin: 80px;
}

/*************   INGREDIENTS        *********************/

#ingredients{
    /* border: 2px orange solid; */
    display: flex;
    flex-direction: column;
    width: 50%;
}

#titleIngredients{
    /* border: 2px solid blue; */
    display:flex;
    justify-content: center;
    font-size: 30px;
    line-height: 30px;
    padding-right: 300px;
}

#listIngredients{
    /* border: 2px solid red; */
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.ingList{
    margin-bottom: 10px;
    list-style: none;
}


/************* MY LIST **********/
#mylist{
    /* border: 2px black solid; */
    display: flex;
    flex-direction: column;

}
#titleList{
    /* border: 2px solid blue; */
    display:flex;
    justify-content: center;
    font-size: 30px;
    line-height: 30px;
    padding-right: 200px;
    margin-left: 40px;
}
#existing-list{
    list-style: none;
    /* border: 2px solid palegoldenrod; */
    
}

.ex-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    list-style: none;
    

}

/*********** RECIPE ************/

#recipe-block{
    display: flex;
    flex-direction: column;
    /* border: 2px red solid; */
    justify-content: left;
    height: 520px;
    text-align:justify;
}
#recipeList{
    /* border: 2px solid black; */
    margin: 20px;
    padding-left: 60px;
}
#instructions{
    margin-left: 55px;
}


/******  SHOPPING LIST  ***********/

#shopping-block{
    /* border: 2px solid red; */
    padding: 20px;
}
#titleShoppingList{
    /* border: 2px solid black; */
    margin: 20px;
    display: flex;
    justify-content: center;
}
.item{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    list-style: none;
}

